HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
.env
*.iws
*.iml
*.ipr

### FRONT ###
**/dist
**/node_modules
**/.vscode

### MAC OS ###
*.DS_Store
